@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PS2P";
  src: url("/fonts/PS2P/PressStart2P-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: regular;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: semi-bold;
}


@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: medium;
}

@font-face {
  font-family: "Silkscreen";
  src: url("/fonts/Silkscreen/Silkscreen-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Silkscreen";
  src: url("/fonts/Silkscreen/Silkscreen-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Silkscreen";
  src: url("/fonts/Silkscreen/Silkscreen-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'SourceCode';
  src: url("/fonts/SourceCode/SourceCodePro-Regular.ttf");
  font-weight: regular;
}

@font-face {
  font-family: 'SourceCode';
  src: url("/fonts/SourceCode/SourceCodePro-SemiBold.ttf");
  font-weight: semi-bold;
}

@font-face {
  font-family: 'SourceCode';
  src: url("/fonts/SourceCode/SourceCodePro-BoldBold.ttf");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}


body {
  @apply font-body bg-[#252d3a] text-white;
}